// most outside wrapper, reserves space on page
.content-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.title-container {
    display: flex;
    flex-direction: row;
    margin-top: $m-size;
    margin-left: $l-size;
    align-items: flex-end; 
    width: 100%; 
}