// constains styling for:
// - grid of links both to social media and navigation
// - link back home
// - single text link to social media

.link-grid {
    display: flex;
    flex-direction: row;
    margin-left: $l-size;
    margin-top: $l-size;
    align-items: center;
    align-content: center;
    width: 1200px;
}

.link-grid_box {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-top: $l-size;
    transition: 500ms;
    background: $dark;
    border: solid $light 6px;
    &:hover {
        border: solid $dark 6px;
        background: $light;
        .link-grid_link {
            color: $dark;
            font-weight: 700;
        }
    }
}

.link-grid_link {
    text-decoration: none;
    text-align: center;
    align-self: auto;
    margin: auto;
    padding-top: 75px;
    color: $light;
    height: 100%;
    width: 100%;
    font-weight: 500;
}

.home-link {
    position: fixed;
    top: $l-size;
    right: $l-size;
    z-index:1;
}

.social-link {
    text-decoration: none;
    color: $light;
    margin-left: $l-size;
    background: $dark;
    transition: 300ms;
    &:hover {
        color: $dark;
        background: $light;
    }
}