// contains styling for paragraphs
.text-content {
    margin-right: $l-size;
    margin-top: $l-size;
    font-size: $m-size;
    max-width: 640px;
    word-spacing: 4px;
    letter-spacing: 0px;
    align-self: flex-end;

    @media (max-width: $mid-breakpoint) {
        align-self: center;
        margin: $p-size auto;
        word-spacing: 3px;
    }

    @media(max-width: $mobile-breakpoint) {
        margin: $p-size 9px;
        font-size: 2.6rem;
    }
}

.error {
    font-size: $xl-size;
    letter-spacing: 6px;
    padding: $s-size;
    
    @media (max-width: $mid-breakpoint) {
        font-size: $l-size;
        letter-spacing: 4px;
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: $m-size;
        letter-spacing: 2px;
    }
}

.text-content-about {
    margin-left: $l-size;
    margin-top: $l-size;
    font-size: $m-size;
    max-width: 640px;
    word-spacing: 4px;
    letter-spacing: 0px;

    @media (max-width: $mid-breakpoint) {
        margin-left: auto;
        margin-right: auto;
        word-spacing: 3px;
        max-width: 540px;
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: 1.8rem;
        margin-left: $s-size;
        margin-right: $s-size;
    }
}
