* {
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: $page-font;
    font-size: $m-size;
    background-color: $light;
   
}

button {
    cursor: pointer;
}
