//Font
$page-font: 'Montserrat', sans-serif;

//Colors
$light: #efefef;
$dark: #161616;
$pink: #bf0040;
$blue: #5900a6;

//Sizing, 1rem = 10px

$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 8.8rem;
$xl-size: 10rem;

//$desktop-breakpoint: 45rem;
