//Font
$page-font: 'Montserrat', sans-serif;

//Colors
$light: #F7F6F6;
$dark: #161616;
$pink: #bf0040;
$blue: #5900a6;

//Sizing, 1rem = 10px

$s-size: 1.6rem;
$m-size: 3.2rem;
$p-size: 3.6rem;
$l-size: 8.8rem;
$xl-size: 10rem;

//breakpoints

$mid-breakpoint: 1080px;
$mobile-breakpoint: 700px;